@model SnsLite.Web.ViewModels.CompanyIndexModel
@{
    ViewBag.Title = "首页";
}
<div class="container" style="margin-top:20px;min-height:500px;">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body" style="border:1px solid #ccc;">
                    @Html.Partial("_UserInfo", Model.User)
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body" style="border:1px solid #ccc;">
                    @Html.Partial("_UserNavigation", Model.User)
                </div>
            </div>
        </div>
        <div class="col-md-9">
            @Html.Partial("_ActivityCategory")
            @Html.Partial("_ActivityList", Model.Activities)
        </div>
    </div>
</div>