@{
    ViewBag.Title = "找信息";
}
<div class="container" style="min-height:500px;padding:50px;">
    <h1 class="text-info text-center"><i class="glyphicon glyphicon-info-sign"></i> 内容即将上线</h1>
</div>